{% extends 'base.html.twig' %}

{% block body %}
    {% include 'navbar.html.twig' %}

    <div class="form-container" style="margin-left: 50px;"> <!-- Clase para el contenedor del formulario -->
        <br>
        <h3>CREAR AULA:</h3>
        <br>
        {{ include('aula/_form.html.twig') }}
        <button class="custom-button2" onclick="window.location='{{ path('app_aula_index') }}'">Volver a la lista</button>
    </div>
{% endblock %}
